.bot{
    position: absolute;
    width: 35rem;
    height: 43rem;
    /* right: 2rem; */
    margin-left:400px ;
    bottom: 3rem;
    border: 10px solid black;
    border-radius: 20px 20px;
    z-index: 1000;
    overflow: hidden;

}
.head{
    height: 4rem;
    text-align: center;
    padding-top: 1px;
    border-radius: 10px 10px 0px 0px;
    color: black;
    border-bottom:4px solid black ;
    background-color: rgb(255, 221, 0);
}
.chat{
    padding: 10px;
    padding-top: 1px;
    height: 33rem;
    overflow-y: scroll;
}

.foot{
    padding-top: 20px;
    height: 5rem;
    background-color: black;
    display: flex;
    /* border-radius: 0px 0px 20px 20px; */
}
form{
    display: flex;
} 
.send{
    background-color: black;
    color: gold;
    margin-right: 5px;
    margin-left: 12px;
    margin-top: -16px;
    font-size: 45px;
}
.send:hover{
    margin-right: 5px;
    font-size: 50px;
}
.inVal{
    height: 40px;
    padding-left: 10px;
    border: 3px solid gold;
    font-size: 16px;
    border-radius:20px 20px;
    width: 460px;
}
.inVal::placeholder{
    color: rgb(71, 66, 2);
    padding-left: 10px;
}
.message{
    padding: .5rem 1rem;
}
.msg-user{
    display: flex;
    justify-content: start;
}
.msg-bot{
    display: flex;
    justify-content: end;
}
.msg-text-bot{
    padding: .5rem 1rem;
    color: white;
    font-size: 20px;
    background-color: rgb(2, 99, 5);
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
    border-top-right-radius:6rem ;
}
.msg-text-user{
    padding: .5rem 1rem;
    color: white;
    font-size: 20px;
    background-color: rgb(78, 75, 75);
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-right-radius:6rem ;
}